extends layout


block content
  //- h1= title

  div.row
    div.col-md-6
      h3 Buy Kraken/Sell Poloniex
      table.spreads.buy-kraken.sell-poloniex
        thead
          th.amount Quantity
          th.spread Spread
          th.trade &nbsp;
        tbody
          tr
            td.amount 10
            td.spread 0%
            td.trade 
              a(href="#").btn.btn-sm
          tr
            td.amount 50
            td.spread 0%
            td.trade 
              a(href="#").btn.btn-sm
          tr
            td.amount 100
            td.spread 0%
            td.trade 
              a(href="#").btn.btn-sm
          tr
            td.amount 250
            td.spread 0%
            td.trade 
              a(href="#").btn.btn-sm
          tr
            td.amount 500
            td.spread 0%
            td.trade 
              a(href="#").btn.btn-sm
          tr
            td.amount 1000
            td.spread 0%
            td.trade 
              a(href="#").btn.btn-sm
    div.col-md-6
      h3 Buy Poloniex/Sell Kraken
      table.spreads.buy-poloniex.sell-kraken
        thead
          th.amount Quantity
          th.spread Spread
          th.trade &nbsp;
        tbody
          tr
            td.amount= value.last
            td.spread 0%
            td.trade 
              a(href="#").btn.btn-sm
          tr
            td.amount 50
            td.spread 0%
            td.trade 
              a(href="#").btn.btn-sm
          tr
            td.amount 100
            td.spread 0%
            td.trade 
              a(href="#").btn.btn-sm
          tr
            td.amount 250
            td.spread 0%
            td.trade 
              a(href="#").btn.btn-sm
          tr
            td.amount 500
            td.spread 0%
            td.trade 
              a(href="#").btn.btn-sm
          tr
            td.amount 1000
            td.spread 0%
            td.trade 
              a(href="#").btn.btn-sm
